<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatable">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>You Think: My Thoughts</title>

        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="youthink.css" rel="stylesheet">
    </head>

    <body>
        <!--Navbar-->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4 class="navbar-text" href="#">You Think</h1>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Feed</a></li>
                    <li><a href="mythoughts.html">My Thoughts</a></li>
                    <li><a href="#">Explore</a></li>
                </ul>
                <form class="form-inline navbar-right my-2 my-lg-0", style="margin:10px">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="addItem();">Search</button>
                </form>
            </div>
        </nav>       
 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jqueery.min.js"></script>
        <script src="bootstrap/js/bootstram.min.js"></script>

        <h1 style="padding-left:20px">My Thoughts</h1>
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="" style="margin:auto; display:block">I just had a thought!</button>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <script>
          function addItem() {
            var newDiv = document.createElement("div");
            var input = document.getElementsByClassName("form-control mr-sm-2")[0];
            var str = "<h1>"+input.value+"</h1>";
            input.value = "";
            newDiv.innerHTML = str;
            newDiv.className = "col-12 col-lg-4";
            document.getElementsByClassName("row")[0].appendChild(newDiv);
          }
        </script>
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; BreadStar</p>
      </footer>
    </div><!--/.container-->
    
    </body>

</html>
